*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
/* navigation bar */
.navbar{
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 30px;
    background-color: rgb(27, 26, 26);
}
.navbar div {
    display: flex;
}
.navbar div img{
 margin-left: 5px;
 margin-top: 6px;

}
.lists{
    padding-top: 16px;
    margin-left: 400px;
    display: flex;
    gap: 28px;
    list-style: none;
    color: white;
    font-weight: 700;
}

.navbar div button{
 margin-left: 470px;
 margin-top: 10px;
 padding: 15px 36px;
 background-color: #0716e8;
 color: white;
 font-weight: 700;
 font-size: 15px;
 border: none;
 border-radius: 6px;
}
.ham{
    visibility: hidden;
}
/* main langing page */
.main-landing{
    display: flex;
}
.left-sec{
    width: 50%;
    padding: 100px 70px;
}
.left-sec h1{
    font-size: 60px;
    color: rgb(7, 160, 242);
}

.left-sec h2{
    font-size: 40px;
}

.left-sec h3{
    padding-top: 50px;
    font-size: 30px;
    color: rgb(7, 160, 242);
}

.left-sec p{
    padding-top: 80px;
    font-size: 20px;
}
.right-sec{
    width: 50%;
    padding-right: 50px;
}
.description{
    background-color: rgb(17, 17, 17);
    padding: 130px;
  text-align: center;
}
.description h1{
    color: blue;
}
.description h2{
    color: white;
}
/* footer of the webpage */
.Footer{
    padding: 40px 40px;
    display: flex;
    color: white;
    background-color: rgb(24, 23, 23);
}
.Footer ul{
    list-style: none;
}
.div1{
    padding: 30px;
    width: 40%;
}
.div2,
.div3{
    width: 20%;
}
.div4{
    width: 30%;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.div4 input{
padding: 10px;
}
.div4 button{
padding: 10px;
background-color: rgb(6, 138, 239);
color: white;
border: none;
}

/* to make it mobile responsive */
@media screen and (max-width: 600px){
    .navbar.ham {
        visibility: visible;
        float: right;
        display: block;
    }
    .Footer{
        display: flex;
        flex-direction: column;
        align-items: center;      
    }
    .main-landing{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-sec,
    .right-sec{
        width: fit-content;
        padding: 0;
    }
    .right-sec video{
        height: 500px;
        width: 400px;
    }
   .div1,
   .div2,
   .div3,
   .div4{
    width: fit-content;
    padding: 0;
   }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 500px) {
    .navbar .lists,button {display: none;}
    .ham {
        visibility: visible;
        margin-left: 200px;
        float: right;
        position: relative;
    }
    }
